{% extends "paginas/index.html" %}

{% load static %}

{%  block conteudo   %}

<h3>Sobre</h3>
<p>
    A criptografia é uma área essencial na segurança da informação, utilizada para proteger dados e garantir a privacidade na comunicação digital. Um dos métodos matemáticos empregados nesse processo é o uso de matrizes, que permitem transformar mensagens legíveis em códigos aparentemente indecifráveis e, posteriormente, recuperá-las por meio de operações matemáticas específicas.

</p>

{% endblock %}